[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jane Tao (jane-misfit)
[access "refs/for/refs/*"]
	read = group user/Jane Tao (jane-misfit)
	push = group user/Jane Tao (jane-misfit)
	label-Code-Review = -2..+2 group user/Jane Tao (jane-misfit)
	label-Verified = -1..+1 group user/Jane Tao (jane-misfit)
	rebase = group user/Jane Tao (jane-misfit)
	removeReviewer = group user/Jane Tao (jane-misfit)
	submit = group user/Jane Tao (jane-misfit)
[access "refs/heads/*"]
	read = group user/Jane Tao (jane-misfit)
	create = group user/Jane Tao (jane-misfit)
	push = +force group user/Jane Tao (jane-misfit)
	pushMerge = group user/Jane Tao (jane-misfit)
[access "refs/tags/*"]
	push = +force group user/Jane Tao (jane-misfit)
	pushTag = group user/Jane Tao (jane-misfit)
	pushSignedTag = group user/Jane Tao (jane-misfit)
